html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 35px;
}

img {
  z-index:-1;
  position:absolute;
  opacity:30%;
}

body {
  height: 90%;
  font: caption;
  background-color: #8BC6EC;
  color:white;
  font-size:15px;
  background: rgba(72,85,105,1);

}
.content {
  position: relative;
  top:20%;
}
#gen {
  margin: 10px;
  padding-top:50px;
  padding-bottom:50px;
  position: absolute;
  top:60px;
  background: rgba(165,221,255,0.8);
background: linear-gradient(135deg, rgba(165,221,255,0.8) 0%, rgba(153,213,253,0.8) 46%, rgba(60,153,255,0.8) 100%);


}

 hr {
   width:60%;
   color:white;
 }

p {
  margin: 1em 2em;
}
